{
	"$schema": "http://json.schemastore.org/prettierrc",
	"importOrder": ["<THIRD_PARTY_MODULES>", "", "^~/(.*)$", "", "^[./]"],
	"importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
	"importOrderTypeScriptVersion": "5.0.0",
	"plugins": [
		"prettier-plugin-packagejson",
		"@ianvs/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	],
	"singleQuote": true,
	"useTabs": true
}
