---
import Cards from '../components/home/cards.astro';
import Hero from '../components/home/hero.astro';
import Info from '../components/home/info.astro';
import Map from '../components/home/map.astro';
import Layout from '../layouts/layout.astro';
---

<Layout>
	<div
		class="mx-auto grid w-full max-w-5xl gap-6 rounded-md bg-gray-200 px-4 py-6 text-gray-800 shadow-md sm:px-6 sm:py-8"
	>
		<Hero />
		<Cards />
		<Info />
		<Map />
	</div>
</Layout>
