---
import { getEntryBySlug } from 'astro:content';

const entry = await getEntryBySlug('terms', 'terms-and-conditions');

const { Content } = await entry.render();
---

<h2>Terms &amp; Conditions</h2>
<div
	class="prose h-64 max-w-none overflow-y-scroll rounded border bg-white px-4 pt-3 text-sm shadow-inner"
>
	<Content />
</div>
